@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #caf0f8;
    --cor-secundaria: #023e7d;
    --cor-terciaria: #0d98ba;
    --cor-quaternatria: black;
    --cor-quinaria: white;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body
{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque 
{
    color:var(--cor-terciaria)
}

.apresentacao 
{
    margin: 7% 12%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap:25px;
}

.apresentacao__about {
    margin: 7% 12%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 40px;
}

.apresentacao__conteudo 
{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 40px;
}

.apresentacao__conteudo__titulo 
{
    font-family: var(--fonte-principal);
    font-size: 1.75rem;
}

.apresentacao__conteudo__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
}

.apresentacao__conteudo__paragrafo__about{
    padding:15px;
}

.apresentacao__conteudo__about {
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    justify-content: baseline;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    font-weight: bold;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.125rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}


.apresentacao__links 
{
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
}

.apresentacao__links__navegacao
{
    color: var(--cor-quinaria);
    background-color:var(--cor-secundaria);
    width: 180px;
    text-align: center;
    border-radius: 16px;
    font-size: 1.5rem;
    padding: 14px;
    text-decoration: none;
    font-weight: 600;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-terciaria);
}

.apresentacao__links__bc {
    font-family: var(--fonte-principal);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.apresentacao__links__navegacao__bc {
    color: black;
    border: 2px solid var(--cor-secundaria);
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 12px;
    text-align: center;
    border-radius: 16px;
    font-size: 1.125rem;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao__bc:hover {
    background-color: var(--cor-terciaria);
}

.CarlSagan__ref{
    font-family: var(--fonte-secundaria);
    text-align: right;
    font-size: 1rem;
}

.access-my-networks {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

.rodape {
    padding: 30px;
    color: var(--cor-quinaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family:var(--fonte-secundaria);
    font-size: 1rem;
}

.image__bc{
    width: 40%;
}

.image__about {
    width: 40%;
    border-radius: 20%;
}

.apresentacao__imagem{
    width: 50%;
}

@media (max-width: 1310px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 10%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__about{
        flex-direction: column-reverse;
    }

    .apresentacao__imagem {
        width: 150%;
    }

    .image__about {
        width: 70%;
    }

    .image__bc {
        width: 100%;
    }

    .apresentacao__links__navegacao {
        width: 30%;
        font-size: medium;
    }

    .apresentacao__conteudo__titulo {
        font-size: 24px;
    }

    
}